.projects {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 30%;
    margin: 0 1rem 2rem;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0 0 4px rgba(#000, 0.25);

    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 0 0 8px 5px var(--main-color), 0 0 15px 10px rgba(#000, 0.5);

      & img {
        transform: scale(1.1);
      }
    }

    &.hide {
      display: none;
    }
  }

  &__photo {
    min-height: 246px;
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      transition: transform 0.3s linear;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1.3rem .8rem;
    box-shadow: inset 0px -1px 16px 4px #000;
    text-shadow: 3px 3px 2px #000;
    cursor: pointer;

    &--top {
      display: flex;
      justify-content: space-between;
    }
  }

  &__price,
  &__number {
    color: var(--main-color);
    text-align: right;
    font-size: 1.2rem;
  }

  &__title,
  &__leather {
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1.26;

    @media screen and (max-width: 560px) {
      font-size: 1.3rem;
    }
  }

  &__title {
    position: relative;
    margin-bottom: .5rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--main-color);
  }

  &__leather {
    color: #ccc;
  }

  @media screen and (max-width: 1040px) {
    &__inner {
      justify-content: center;
    }

    &__item {
      width: 50%;
      @media screen and (max-width: 830px) {
        width: 100%;
      }
    }
  }
}
