.contact {
  &__text {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-row {
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
  }

  &-group {
    position: relative;
    width: 100%;

    &:first-child + .form-group {
      margin-left: 1.5rem;
    }
  }

  &__label {
    position: absolute;
    top: 13px;
    left: 5px;

    font-size: 1.1rem;
    line-height: 1;
    text-transform: uppercase;
    color: #707070;
    pointer-events: none;

    transition:
      font-size .2s linear,
      transform .2s linear;
  }

  &__input {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    padding-left: 5px;

    background-color: var(--bg-color);
    border: none;
    border-bottom: 2px solid rgba(#707070, .3);
    outline: none;

    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;

    &:focus ~ label,
    &:valid + label {
      color: var(--main-color);
      font-size: .9rem;
      font-weight: 700;
      text-shadow: 2px 2px 1px #000;

      transform: translate(-5px, -20px);
    }

    &:focus:valid {
      border-image: linear-gradient(to right, green, var(--main-color));
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-image-slice: 2;
    }

    &:focus {
      border-image: var(--gradient-right);
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-image-slice: 2;
    }

    &--textarea {
      height: 202px;
      width: 100%;
      padding-top: 12px;

      resize: none;
    }
  }
}